<input type="text" [(ngModel)]="title" name="" id="">
{{title}}



<div *ngIf="items.length === 0">
  La lista esta vacia
</div>

<button (click)="addName()">Add Item</button>

<ul>
  <li *ngFor="let item of items; index as i">
    {{item}} {{i}} <button (click)="deleteName(i)">Delete Item</button>
  </li>
</ul>

<div *ngFor="let item of products;">
  <app-product [product]="item" (productClicked)="addProductCar($event)"></app-product>
</div>

<div [ngSwitch]= "title">
  <p *ngSwitchCase="'Cristhian'">Este Es Cristhian</p>
  <p *ngSwitchCase="'Ana'">Este Es Ana</p>
  <p *ngSwitchCase="'Maria'">Este Es Maria</p>
  <p *ngSwitchDefault>No hya un Match</p>
</div>