<input type="text" [(ngModel)]="title" name="" id="">
{{title}}

<input type="text" [(ngModel)]="power">
{{power | exponential}}

<div *ngIf="items.length === 0">
  La lista esta vacia
</div>

<button (click)="addName()">Add Item</button>

<ul>
  <li *ngFor="let item of items; index as i">
    {{item}} {{i}} <button (click)="deleteName(i)">Delete Item</button>
  </li>
</ul>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Cristhian'">Este Es Cristhian</p>
    <p *ngSwitchCase="'Ana'">Este Es Ana</p>
    <p *ngSwitchCase="'Maria'">Este Es Maria</p>
    <p *ngSwitchDefault>No hya un Match</p>
</div>